@import '../base/colors.scss';
@import '../base/fonts.scss';

.masthead {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20%;
}

.masthead-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 70%;
  width: 100%;

  border-bottom: 1px solid $light-gray;

  h1 {
    text-align: center;
    font-family: $big_font;
    font-size: 25px;
  }
}

.navbar {
  display: flex;
  justify-content: center;
  height: 30%;
  width: 100%;

  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    font-family: $small_font;
  }
}
