@import '../base/colors.scss';

.splash {
  width: 100%;
  height: auto;

  img {
    border-bottom: 1px solid black;
  }
}

.splash-news {
  width: 100%;
  height: 700px;

  display: flex;
  justify-content: center;
  align-items: center;
}
